<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Aluno</title>


<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">


<style>
.logo-container {
	background-color: #47bcff;
	color: #FFF;
}

.logo {
	font-family: 'Handlee', cursive;
	font-size: 2.5rem;
}
</style>
<div th:fragment="logo" class="">
	<div class="logo-container p-3 d-flex justify-content-between">
		<span class="logo ">Aluno</span>


	</div>

	<nav class="nav justify-content-end mr-4">
		<a class="nav-link" th:href="@{/aluno}">Aluno</a> <a class="nav-link"
			th:href="@{/curso}">Curso</a> <a class="nav-link"
			th:href="@{/disciplina}">Disciplina</a> <a class="nav-link"
			th:href="@{/turma}">Turma</a>
	</nav>

</div>

<div class="container mt-3 mb-3">

	<div class="card mt-3">

		<form id="my-form2" th:action="@{aluno}" th:object="${alunoDTO}"
			method="post">

			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Nome Completo</div> 
			<div class="col-sm-8"><input id="field-text" th:field="*{nome}" class="alunoDTO" type="text"></div>	
			</div>
			
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Matricula</div> 
			<div class="col-sm-8"><input id="field-text2" th:field="*{matricula}" class="alunoDTO" type="text"></div>	
			</div>
			
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">CPF</div> 
			<div class="col-sm-8"><input id="field-text3" th:field="*{cpf}" 
					class="alunoDTO" type="text"></div>	
			</div>
			
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">RG</div> 
			<div class="col-sm-8"><input id="field-text4" th:field="*{rg}"
					class="alunoDTO" type="text"></div>	
			</div>
			

			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Email</div> 
			<div class="col-sm-8"><input id="field-text5" th:field="*{email}"
					class="alunoDTO" type="text"></div>	
			</div>
			

			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Turma</div> 
			<div class="col-sm-8"><input id="field-text6" th:field="*{idTurma}"
					class="alunoDTO" type="text"></div>	
			</div>
			
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Curso</div> 
			<div class="col-sm-8"><input id="field-text7" th:field="*{idCurso}"
					class="alunoDTO" type="text"></div>	
			</div>
			
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Telefone</div> 
			<div class="col-sm-8"><input id="field-text8"
					th:field="*{telefone}" class="alunoDTO" type="text"></div>	
			</div>
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Rua</div> 
			<div class="col-sm-8"><input id="field-text15"
					th:field="*{rua}" class="alunoDTO" type="text"></div>	
			</div>
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Número</div> 
			<div class="col-sm-8"><input id="field-text15"
					th:field="*{numero}" class="alunoDTO" type="text"></div>	
			</div>
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Cidade</div> 
			<div class="col-sm-8"><input id="field-text15"
					th:field="*{cidade}" class="alunoDTO" type="text"></div>	
			</div>
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Estado</div> 
			<div class="col-sm-8"><input id="field-text15"
					th:field="*{estado}" class="alunoDTO" type="text"></div>	
			</div>
			
			<div class="row ml-2 mt-3">
			<div class="col-sm-2">Cep</div> 
			<div class="col-sm-8"><input id="field-text15"
					th:field="*{cep}" class="alunoDTO" type="text"></div>	
			</div>
			
			<div class="row ml-2 mt-3 mb-3">
			<div class="col-sm-5"></div> 
			<div class="col-sm-2"><button type="submit">Cadastrar</button></div>
			<div class="col-sm-5"></div>			
			</div>
						
		</form>

	</div>

</div>


</head>
<body>

</body>
</html>